<h1><%= @musician.name  %></h1>

<% if @musician.image.nil? %>
  <%= image_tag "/assets/musician_image.jpeg" %>
<% else %>
  <%= image_tag(@musician.picture) %>
<% end %>

<h3>Genre: <%= Genre.find(@musician.genre_id).name %></h3>

<% if !@split_members.nil? %>
  <ul>
  <% @split_members.each do |member| %>
    <li><%= member %></li>
  <% end %>
  </ul>
<% end %>

<h3>Avg. Rating <%= @musician.average_rating %></h3>

<p><%= @musician.bio %></p>

<% if !@links.nil? %>
  <ul>
    <% @links.each do |link| %>
      <li> <%= link_to link, link %> </li>
    <% end %>
  <% end %>
</ul>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="<%= #{@musician.song}"></iframe>
