<h1><%= @musician.name  %></h1>

<% if @musician.image.nil? %>
  <%= image_tag "/assets/musician_image.jpeg" %>
<% else %>
  <%= image_tag(@musician.picture) %>
<% end %>

<h3>Genres:</h3>
<ul>
  <% @genres.each do |genre|%>
    <li><%= genre  %></li>
  <% end %>
</ul>

<% if !@musician.band_members.nil? %>
  <ul>
    <% byebug %>
    <% @musician.band_members.each do |member|%>
    <%= member %>
  </ul>
  <% end %>
<% end %>

<h3>Avg. Rating <%= @musician.average_rating %></h3>

<p><%= @musician.bio %></p>

<h3>Recent Reviews:</h3>
<%= render partial: "reviews/recent_reviews", locals: {reviews: @reviews} %>
<%= button_to "See All Reviews", reviews_path, method: "get" %>
