<h1><%= @musician.name  %></h1>

<h3>Genres:</h3>
<ul>
  <% @genres.each do |genre|%>
    <li><%= genre  %></li>
  <% end %>
</ul>

<% if !@musician.band_members.empty? %>
  <ul>
    <% @musican.band_members.each do |member|%>
    <%= member %>
  </ul>
  <% end %>
<% end %>

<h3>Avg. Rating <%= @musician.average_rating %></h3>

<p><%= @musician.bio %></p>

<%= button_to "Delete Profile", @musician, method: "delete" %>
