<h1>Welcome <%= @listener.user_name.titleize %> !</h1>
<h3> Name: <%= "#{@listener.first_name} #{@listener.last_name}" %> </h3>


<% if @listener.picture.nil? %>
  <%= image_tag "/assets/listener_image.jpeg" %>
<% else %>
  <%= image_tag(@listener.picture) %>
<% end %>

<%= button_to "See Your Reviews", reviews_path, method: "get" %>
<%= button_to "Log Out", "/logout", method: "delete" %>

<style media="screen">


h1, h3 {
  color: white;
}
</style>
