<html lang="en" dir="ltr">

<head>
     <title>highnote</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <body>
   <title>Highnote</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <nav class="navbar navbar-custom">

 <div class="container">
   <div class="navbar-header">
     <a class="navbar-brand" href="#0">HighNote</a>
   </div>
   <ul class="nav navbar-nav">
     <li><a href="/musicians">Musicians</a></li>
     <li><a href="/reviews">Reviews</a></li>
     <li><a href="/users/show">Profile</a></li>
     <li><a href="/login">Login</a></li>
   </ul>
   <form>
   <%= form_tag(musicians_path, method: :get, class: 'navbar-form navbar-right') do %>
 <%= text_field_tag :search, params[:search], class: 'form', placeholder: 'Search'  %>
 <%= submit_tag "Search", class: 'btn btn-default', :name => nil %>
<% end %>
           </form>
       </div>
 </div>
</nav>
 </head>

 <body>
   <%= yield %>
 </body>
</html>
